{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-6 text-center">
            <img src="{% static 'images/about.webp' %}" width=100%  height= 300 alt="about image">
        </div>
        <div class="col-6">
            <!-- Title goes between these h2 tags -->
            <h2>About book_shelf</h2>
            <!-- Content goes directly underneath this -->
            This online communicity commits to provide a freindly environment for people who sharing their thoughts on the books.
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->
            <p class="text-end"><em>Updated on: 06.08.2024 </em></p>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 my-5">
                <h2>Let's start sharing thoughts about books</h2>
                <p>I believe in the power of shared knowledge and collective effort.
                    Whether you have a project in mind, wish to co-author
                    an article, or simply want to brainstorm some ideas,
                    I'm excited to hear from you. Add a new book or add your review on books and 
                    we can get the ball rolling.</p>
            </div>

            <div class="col-12 col-md-6 my-5">
                <h3>Home page:</h3>
                <p>List of books, you can search by book title or author or category.</p>
                <h3>About page:</h3>
                <p>Brief instruction of the web site.</p>
                <h3>Add a book  or add a review to a book:</h3>
                <p>You will need to signup/log in to access these two features.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}